body{
    font-family: 'TT Norms';
    font-style: normal;
    background: #FFFFFF;
}
li, a, ul{
    text-decoration: none;
    display: block;
}
nav{
    display: flex;
    align-items: center;
    margin-top: 66.53px;
    border-bottom: 1px solid #E5E5E5;;
}
.menu{
	display: flex;
}
.menu-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1D1D1B;
    margin-right: 30px;

}
.menu-link:hover{
	color: #3C7BFF;
    font-weight: 700;
}
.btn1{
    width: 173px;
    height: 52px;
    background: #3C7BFF;
    border-radius: 10px;
    border: 1px solid #3C7BFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.btn{
    box-sizing: border-box;
    width: 80px;
    height: 52px;
    border: 1px solid #3C7BFF;
    border-radius: 10px;
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #3C7BFF;
}
.stop{
	background: url(stop.jpg)no-repeat;
	border-radius: 0px 0px 10px 0px;
    width: 1279px;
	height: 545px;
}
h1{
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #3C7BFF;
}
h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #3C7BFF;
}
.txt{
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #3C7BFF;
    margin-top: 435px;
}
.btn2{
    background: #3C7BFF;
    border-radius: 10px;
	width: 449px;
    height: 69px;
    border: 1px solid #3C7BFF;
	text-align: center;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-top: 42px;
    margin-left: 166px;
}
.butn{
    box-sizing: border-box;
    border: 1px solid #3C7BFF;
    border-radius: 10px;
    width: 1280px;
    height: 156px;
    left: 320px;
    top: 815px;
}
.program{
	display: flex;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
}
.help1{
    background: url(military.jpg) no-repeat;
    background-size: contain;
    border-radius: 10px;
    width: 630px;
    height: 600px;
    display: flex;
    align-items: flex-end;
}
.help2{
    background: url(map.jpg) no-repeat;
    background-size: contain;
    border-radius: 10px;
    width: 630px;
    height: 600px;
    display: flex;
    align-items: flex-end;
}
.documents{
    box-sizing: border-box;
    width: 1280px;
    height: 358px;
    border: 1px solid #3C7BFF;
    border-radius: 10px;
}
.docs{
    width: 201px;
    height: 270px;
    margin-right: 20px;
}
.zvit{
    box-sizing: border-box;
    width: 1280px;
    height: 156px;
    border: 1px solid #3C7BFF;
    border-radius: 10px;
    display: flex;
}
.zvittxt{
    width: 753px;
    height: 76px;
    left: 794px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #3C7BFF;
}
.btn3{
    background: #3C7BFF;
    border-radius: 10px;
	width: 449px;
    height: 69px;
    border: 1px solid #3C7BFF;
	text-align: center;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-top: 44px;
}
footer{
    height: 323px;
    background: #3C7BFF;
    margin-top: 30px;
    display: flex;
}
.foot{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 320px;
}