/*Volonter styles*/
.volonter{
    height: 545px;
    background: url(../img/stop.jpg) no-repeat center;
    background-size: cover;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 10px 10px;
    padding-top: 375px;
    margin-top: 100px;
}
.volonter_title{
    max-width: 491px;
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 10px;
    margin-left: 40px;
}
.volonter_text{
    max-width: 1097px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-left: 40px;
}


/*Help styles*/
.help{
    padding-top: 56px;
}
.button_help{
    width: 1280px;
    height: 156px;
    border: 1px solid #3C7BFF;
    border-radius: 10px;
    text-align: center;
    padding-top: 43px;
    margin-bottom: 30px;
}
.give_help:last-child{
    margin-right: 0;
}
.give_help{
    width: 449px;
    height: 69px;
    background: #3C7BFF;
    border:0 ;
    border-radius: 10px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-right: 50px;
}
.give_help:last-child{
    margin-right: 0;
}
.give_help:hover, .give_help:focus,.give_help:active{
    background: #225dda;
}


/*Programs styles*/
.program_pic{
    display: flex;
}
.program_military{
    background: url(../img/military.jpg) no-repeat;
    background-size: cover;
    width: 630px;
    height: 600px;
    display: flex;
    align-items: flex-end;
    margin-right: 19px;
    margin-bottom: 30px;
}
.program_map{
    background: url(../img/map.jpg) no-repeat;
    background-size: cover;
    width: 630px;
    height: 600px;
    display: flex;
    align-items: flex-end;
}
.program_txt{
    font-weight: 700;
    font-size: 42px;
    line-height: 50px;
    color: #FFFFFF;
    margin-left: 39px;
    margin-bottom: 40px;
}

/*Documents styles*/
.document_pic{
    width: 1280px;
    height: 358px;
    border: 1px solid #3C7BFF;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
}
.docs{
    width: 201px;
    height: 270px;
    margin-right: 20px;
    margin-top: 39px;
}
.docs:last-child{
    margin-right: 0;
}
.docs:first-child{
    margin-left: 40px;
}


/*Report styles*/
.report_info{
    width: 1280px;
    height: 156px;
    border: 1px solid #3C7BFF;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
}
.telegram_btn{
    width: 301px;
    height: 69px;
    background: #3C7BFF;
    border-radius: 10px;
    border: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    margin-left: 53px;
    margin-top: 44px;
}
.report_txt{
    width: 753px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #3C7BFF;
    margin-left: 120px;
    margin-top: 40px;
}


