.help_military{
    margin-top: 150px;
}
.help_military_text, .help_people_text{
    width: 1251px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #1D1D1B;
    margin-bottom: 30px;
}
.help_military_pic{
    margin-bottom: 30px;
}
.help_people_pic{
    margin-bottom: 350px;
}

/* ------ Media Queries ------ */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) { ... }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) { ... }

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) { ... }