/*Volonter styles*/
.volonter{
    height: 545px;
    background: url(../img/stop.jpg) no-repeat center;
    background-size: cover;
    border-bottom: 1px solid #E5E5E5;
    border-radius: 10px 10px;
    padding-top: 375px;
    margin-top: 100px;
}
.volonter_title{
    max-width: 540px;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 10px;
    margin-left: 40px;
}
.volonter_text{
    max-width: 1097px;
    font-weight: 700;
    font-size: 18px;
    margin-left: 40px;
}


/*Help styles*/
.help{
    padding-top: 56px;
}
.button_help{
    width: 100%;
    height: 156px;
    border: 1px solid #3C7BFF;
    border-radius: 10px;
    text-align: center;
    padding-top: 43px;
    margin-bottom: 30px;
}
.give_help:last-child{
    margin-right: 0;
}
.give_help{
    width: 449px;
    height: 69px;
    background: #3C7BFF;
    border:0 ;
    border-radius: 10px;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    margin-right: 50px;
}
.give_help:last-child{
    margin-right: 0;
}
.give_help:hover, .give_help:focus,.give_help:active{
    background: #225dda;
}


/*Programs styles*/
.program_pic{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.military, .map {
    position: relative;
    width: 48%; 
}
.military:after, .map:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}
  
.program_military, .program_map {
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.program_military{
    background: url(../img/military.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}
.program_map{
    background: url(../img/map.jpg) no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}
.program_txt{
    font-weight: 700;
    font-size: 42px;
    color: #FFFFFF;
    margin-left: 20px;
    margin-bottom: 25px;
}

/*Documents styles*/
.document_pic{
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 358px;
    border: 1px solid #3C7BFF;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
    padding: 10px;
}
.docs{
    width: 15%;
    height: auto;
}

/*Report styles*/
.report_info{
    width: 100%;
    height: 156px;
    border: 1px solid #3C7BFF;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.telegram_button{
    display: flex;
    align-items: center;
}
.telegram_btn{
    width: 301px;
    height: 69px;
    background: #3C7BFF;
    border-radius: 10px;
    border: 0;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
}
.report_text{
    display: flex;
    align-items: center;
    width: 60%;
}
.report_txt{
    font-weight: 700;
    font-size: 32px;
    color: #3C7BFF;
}



/* ------ Media Queries ------ */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
    .volonter {
        height: 430px;
        padding-top: 225px;
    }
    .give_help {
        width: 420px;
    }
    .program_txt {
        font-size: 30px;
        margin-left: 29px;
        margin-bottom: 18px;
    }
    .document_pic {
        height: 300px;
    }
    .report_txt {
        font-size: 25px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
    .volonter {
        height: 345px;
        padding-top: 150px;
    }
    .volonter_title {
        font-size: 32px;
    }
    .volonter_text {
        font-size: 16px;
    }
    .button_help{
        height: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 32px;
    }
    .give_help {
        margin-bottom: 10px;
        margin-right: 0;
    }
    .program_txt {
        font-size: 24px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .document_pic {
        height: 240px;
    }
    .telegram_pic{
        width: 25px;
    }
    .report_info{
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .report_txt {
        text-align: center;
        font-size: 18px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .volonter {
        height: 250px;
        padding-top: 110px;
    }
    .volonter_title {
        font-size: 25px;
        margin-bottom: 5px;
    }
    .volonter_text {
        font-size: 12px;
    }
    .give_help{
        font-size: 23px;
    }
    .program_txt {
        font-size: 17px;
        margin-left: 15px;
        margin-bottom: 5px;
    }
    .document_pic {
        height: 168px;
    }
    .telegram_btn{
        font-size: 23px;
    }
    .report_txt {
        font-size: 16px;
    } 
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .volonter {
        height: 155px;
        padding-top: 45px;
    }
    .volonter_title {
        font-size: 20px;
        margin-bottom: 0px;
    }
    .volonter_text {
        font-size: 8px;
    }
    .help {
        padding-top: 10px;
    }    
    .give_help {
        width: 270px;
        height: 55px;
        font-size: 20px;
    }
    .button_help {
        margin-bottom: 15px;
        height: 150px;
        padding-top: 13px;
    }
    .program_pic {
        margin-bottom: 15px;
    }
    .program_txt {
        font-size: 10px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .document_pic {
        height: 110px;
        margin-bottom: 15px;
    }
    .report_info{
        height: 140px;
    }
    .telegram_btn{
        width: 270px;
        height: 55px;
        font-size: 20px;
    }
    .report_txt{
        font-size: 13px;
    }
}


