.our_mission{
    margin-top: 150px;
}
.our_mission_title{
    color: #1D1D1B;
}
.our_mission_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    max-width: 1200px;
    margin-bottom: 50px;
}
.selflessness, .voluntariness, .honesty{
    display: flex;
    align-items: baseline;
}
.selflessness_title{
    margin-left: 42px;
}
.voluntariness_title{
    margin-left: 58px;
}
.honesty_title{
    margin-left: 40px;
}
.selflessness_text, .voluntariness_text, .honesty_text{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    max-width: 1250px;
}
.selflessness_text, .voluntariness_text{
    margin-bottom: 50px;
}
.honesty_text{
    margin-bottom: 430px;
}

/* ------ Media Queries ------ */

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1400px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) {
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
    .our_mission_text {
        font-size: 18px;
        margin-bottom: 40px;
    }
    .selflessness_text, .voluntariness_text {
        margin-bottom: 40px;
    }
    .selflessness_text, .voluntariness_text, .honesty_text {
        font-size: 18px;
    }
    .honesty_text {
        margin-bottom: 300px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .our_mission_text {
        font-size: 15px;
        margin-bottom: 25px;
    }
    .selflessness_text, .voluntariness_text, .honesty_text {
        font-size: 15px;
    }
    .selflessness_text, .voluntariness_text {
        margin-bottom: 30px;
    }
    .honesty_text {
        margin-bottom: 200px;
    }
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
    .our_mission_text {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .selflessness_text, .voluntariness_text {
        margin-bottom: 20px;
    }
    .selflessness_text, .voluntariness_text, .honesty_text {
        font-size: 12px;
    }
    .honesty_text {
        margin-bottom: 150px;
    }
    .our_mission {
        margin-top: 110px;
    }
}