/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    color: #3C7BFF;
}
.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}
h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
}
/*Header styles*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #E5E5E5;
}
.header_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
}
.header_list{
    display: flex;
    flex-wrap: wrap; 
}
.header_item{
    margin-right: 30px;
}
.header_item:last-child{
    margin-right: 0;
}
.header_link{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #1D1D1B;
    text-decoration: none;
}
.header_link:hover, .header_link:focus, .header_link:active{
    color: #3C7BFF;
    font-weight: 700;
}
.want_to_help{
    width: 173px;
    height: 52px;
    background: #3C7BFF;
    border-radius: 10px;
    border: 1px solid #3C7BFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.want_to_help:hover, .want_to_help:focus,.want_to_help:active{
    background: #225dda;
}
.lang{
    box-sizing: border-box;
    width: 80px;
    height: 52px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #3C7BFF;
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #3C7BFF;
}

/*Footer styles*/
.footer{
    background-color: #3C7BFF;
    height: 323px;
    display: flex;
}
.footer_menu{
    margin-top: 30px;
    margin-left: 120px;
}
.footer_link{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}
.footer_link:hover, .footer_link:active, .footer_link:focus{
    opacity: 0.75;
}
.footer_item:last-child{
    margin-top: 80px;
}
.social{
    display: block;
    margin-left: 108px;
}
.social_txt{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 30px;
    display: block;
    margin-bottom: 15px;
}
.social_logo{
    margin-right: 32px;
    display: inline;
}
.social_logo:last-child{
    margin-right: 0;
}
.footer_txt{
    margin-top: 252px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 556px;
}